body {
    background-image: url("../img/bg-rssobirin.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: rgb(8, 153, 8);
}

.navbar a {
    color: white;
}

.navbar .btn {
    background-color: white;
    color: black;
}